*{ 
	font-family: Arial; 
}

.renglon { 
	display: block; 
	text-align: center;
	margin-bottom: 2px; }

label { 
	display: inline-block;
	width: 55px; 
	text-align: left; 
}

h2 { 
	font-weight: normal;
	text-align: center;
}

button { 
	text-align: center; 
}